<?xml version="1.0" encoding="UTF-8"?>
<provinceIdentifier language="English" provinceCol="8421504" castleCol="255" cityCol="32768" templeCol="16711680" tribalCol="0" blackBorder="true" removeSeaRiver="false">
  <workingSession name="ibl" gameDirectory="C:\Games\Steam\SteamApps\common\Crusader Kings II" mapModDirectory="C:\Users\Zdeněk\Documents\Paradox Interactive\Crusader Kings II\mod\IBL_dev" ckGame="true" xSymetry="false" />
</provinceIdentifier>
